{% extends 'base.html' %}
{% block content %}

<div style="padding: 20px;  width: 300px; background-color: #fe6e00; display: block; margin: auto; margin-top: 180px;">
    <h1 style="text-align:center; color: white;">Admin Login</h1>
    <form method="POST" action="/adminauthenticate/">
    {% csrf_token %}
    <input type="text" style="margin-bottom: 15px;" class="form-control" name="username" placeholder="Your good name ">
    <input type="password" class="form-control" name="password" placeholder="Login Password">
    <input type="submit" style="display: block; margin: auto; margin-top: 10px;" class="btn btn-success" name="">
</form>
</div>

{% for message in messages %}
    <p style="text-align: center;color: red;">{{message}}</p>
    {% endfor %}

{% endblock %}
