{% extends 'base.html' %}

{% block content %}


<div class="container" style="background-color: orange; width: 300px; height: 250px; margin-top: 300px; pad: 30px;">
    <h1 style="color: white; text-align: center;">Login</h1>
    <form method="POST" action="/customer/authenticate/">
        {% csrf_token %}
        <input type="text" class="form-control" name="username" placeholder="username" style="margin-bottom: 10px;">
        <input type="password" class="form-control" name="password" placeholder="password" style="margin-bottom: 10px;">
        <input type="submit" class="btn btn-success" style="display:block; margin:auto" name="">
    </form>
    {% for message in messages %}
<p style="text-align:center">{{message}}</p>
</div>



{% endfor %}

{% endblock %}